<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_IMaterialService" />
                <binding name="BasicHttpBinding_IBookingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/WCF/UserService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserService" contract="ServiceReferences.IUserService"
                name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:8733/WCF/MaterialService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMaterialService"
                contract="ServiceReferences.IMaterialService" name="BasicHttpBinding_IMaterialService" />
            <endpoint address="http://localhost:8733/WCF/BookingService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingService"
                contract="ServiceReferences.IBookingService" name="BasicHttpBinding_IBookingService" />
        </client>
    </system.serviceModel>
</configuration>